.custom-footer{ font-family: 'Roboto',sans-serif; }

.circle{ border-radius: 50%;margin: 0.15em;font-size: 2em; }

.fa-facebook, .fa-twitter{ color: #fff;transition: all .2s ease-in-out; font-size: 15px}

.social a:hover .circle{ transform: scale(1.2); }

div.history{ padding: 48px 20px 30px 20px;}
